<div>
	<ul class="user-selection-list" ng-repeat="user in family | orderBy:'id'">
		<li ng-dblclick="user.collapse()"
			ng-click="user.controllerScope.setSelectedUser(user)"
			class="ng-class: user.controllerScope.selectedUser.id === user.id ? 'selected' : ''"
			tabindex="-1"> <!-- tabindex='-1' added to be able to use the ng-blur listener inside the li element -->

			<span class="glyphicon {{user.isCollapsed ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-right '}} padding-left-10px"
				  style="padding-left: {{level*15}}px" 
				  ng-click="user.collapse()"></span>
			
			<span>{{user.firstName}}</span>

			<span class="glyphicon {{ user.controllerScope.newUser.parentId === user.id ? 'glyphicon-remove' : 'glyphicon-plus'}} padding-top-7px absolute-icon"
				  ng-click="user.controllerScope.updateCurrentAddition(user.id, user.controllerScope.newUser.parentId === user.id)"></span>
		</li>
		<li ng-if="user.isCollapsed">
			<tree family="user.children" level=level+1></tree>
		</li>
	</ul>
</div>