<div class="module-container">
	<!-- User tree -->
	<div class="container">
		<div class="container-header">
			<span>Tree of users</span>
			<span class="glyphicon glyphicon-plus" 
				  ng-show="!isAdding"
				  ng-click="updateCurrentAddition(0)"></span>
			<span class="glyphicon glyphicon-remove"  
				  ng-show="isAdding"
			      ng-click="updateCurrentAddition()"></span> 
		</div>
		<div class="container-body">
			<div>
				<ul class="user-selection-list">
					<li ng-repeat="user in users | orderBy:'id'" 
						ng-click="setSelectedUser(user)"
						ng-dblclick="user.collapse()"
						class="ng-class: selectedUser.id === user.id ? 'selected' : ''" 
						tabindex="-1"> 
						<!-- tabindex='-1' added to be able to use the ng-blur listener inside the li element -->
						<span class="glyphicon glyphicon-triangle-right" ng-show="!user.isCollapsed" ng-click="user.collapse()"></span>
						<span class="glyphicon glyphicon-triangle-bottom" ng-show="user.isCollapsed" ng-click="user.collapse()"></span>
						<span>{{user.fullName}}</span>
						<span class="glyphicon glyphicon-plus" 
							  ng-show="newUser.parent !== user.fullName"
							  ng-click="updateCurrentAddition(user.id)"></span>
						<span class="glyphicon glyphicon-remove" 
						      ng-show="newUser.parent === user.fullName"
						      ng-click="updateCurrentAddition()"></span> 
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- User Details -->
	<div class="container" ng-show="!isAdding">
		<div class="container-header">
			<span>User details</span>
		</div>
		<div class="container-body">
			<div ng-show="!selectedUser" class="no-selected-user-label">
				<span>No selected user</span>
			</div>
			<ul class="user-details-list" ng-if="selectedUser">
				<li><b>User ID:</b> {{selectedUser.id}}</li>
				<li><b>Full Name:</b> {{selectedUser.fullName}}</li>
				<li><b>Date of Birth:</b> {{selectedUser.birthdate}}</li>
				<li><b>Email:</b> {{selectedUser.email}}</li>
				<li><b>Parent:</b> {{getParentById(selectedUser.id).fullName || '-'}}</li> 
				<li><b>Number of childrens:</b> {{selectedUser.childrens.length}}</li>
			</ul>
		</div>
	</div>
	<!-- Adding User -->
	<div class="container" ng-show="isAdding">
		<div class="container-header">
			<span>User addition</span>
		</div>
		<div class="container-body user-addition-container" ng-disabled="isSaving">
			<div>
				<span>First Name:</span>
				<!-- ng-show added in order to force the focusOnShow directive to be triggered -->
				<input focus-on-show 
					   next-on-enter
					   ng-show="isAdding"
					   ng-model="newUser.firstName"
					   ng-change="isWarning.firstName = false"
					   class="ng-class: isWarning.firstName ? 'input-warning' : ''"></input>
			</div>
			<div>
				<span>Last Name:</span>
				<input next-on-enter 
					   ng-model="newUser.lastName"
					   ng-change="isWarning.lastName = false"
					   class="ng-class: isWarning.lastName ? 'input-warning' : ''"></input>
			</div>
			<div>
				<span>Birth Date:</span>
				<input next-on-enter
					   ng-model="newUser.birthdate"
					   ng-change="isWarning.birthdate = false"
					   class="ng-class: isWarning.birthdate ? 'input-warning' : ''"></input>
			</div>
			<div>
				<span>Email:</span>
				<input next-on-enter 
					   ng-model="newUser.email"
					   ng-change="isWarning.email = false"
					   class="ng-class: isWarning.email ? 'input-warning' : ''"></input>
			</div>
			<div ng-show="newUser.parent !== 'none'">
				<span>Parent:</span>
				<input ng-model="newUser.parent" class="disabled" disabled></input>
			</div>
			<div class="adding-buttons-container">
				<button class="btn btn-default" ng-click="createUser()">ADD</button>
				<button class="btn btn-default" ng-click="updateCurrentAddition()">CANCEL</button>
			</div>
		</div>
	</div>
</div>